<div class="bio" itemscope itemtype="https://schema.org/Person">
  <div class="bio-avatar" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <img src="/img/profile-pic-100.png" width="50" height="50" alt="Profile Picture">
  </div>

  <div>
    <p>Written by <a href="/about/"><strong itemprop="name"><span itemprop="givenName">{{ metadata.author.givenName }}</span> <span itemprop="familyName">{{ metadata.author.familyName }}</span></strong></a>, a <span itemprop="jobTitle">{{ metadata.author.jobTitle }}</span> from <span itemprop="homeLocation">{{ metadata.author.homeLocation }}</span>.<br /></p>
    <ul class="hlist">
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/now/">Now</a></li>
      <li><a href="/essays/">Essays</a></li>
      <li><a href="https://amzn.to/2gdI0Ua">Wishlist</a></li>
      <li><a href="/search/">Search</a></li>
    </ul>
  </div>
</div>
