---
layout: layouts/base.njk
---
<article class="blog-post" itemscope itemtype="{{ itemtype or 'https://schema.org/Article' }}">
<header>
  <h1 itemprop="headline">{{ title }}</h1>
</header>
<section itemprop="articleBody">
{{ content | safe }}
<p itemprop="dateModified" content="{{ date | htmlDateString }}" }><small>Updated {{ date | readableDate('DDD') }}</small></p>
</section>
<hr>
<footer>
{% include "bio.njk" %}
</footer>
</article>
